.gallery {
  margin-top: 60px;
}

.gallery__wrapper {
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

    li {
      img {
        width: 520px;
        height: 390px;
        object-fit: cover;

        @media (max-width: 1190px) {
          width: 300px;
          height: 400px;
        }

        @media (max-width: 935px) {
          width: 100%;
        }
      }
    }

    @media (max-width: 935px) {
      // flex-direction: column;
      // gap: 10px;
    }
  }
}
