@import "./reset";
@import "./vars";
@import "./fonts";

/* BASIC SETTINGS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;

  background: var(--color-white);
  color: var(--color-black);

  overflow-x: hidden !important;
}

html {
  scroll-behavior: smooth;
  scroll-padding-block-start: 75px;
  min-height: 100vh;
  // font-size: calc(6px + (20 - 6) * ((100vw - 600px) / (1920 - 600)));
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

::-webkit-scrollbar {
  background: none;
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: none;
}

.container {
  max-width: 1680px;
  padding: 0 10px;
  margin: 0 auto;

  @media (max-width: 1260px) {
    max-width: 1260px;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: inherit;
  font-family: inherit;
  line-height: 140%;
}

ul,
li {
  list-style-type: none;
}

.slick-dots {
  li {
    button {
      &::before {
        font-size: 12px;
        color: var(--color-blue) !important;
      }
    }
  }
}

.loader__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 50vh;
}

.loader {
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }
  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}
